<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.vivo.abe.permission.launcher.notification.num" />
    <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON" />
    <uses-permission android:name="android.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:node="remove" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AidPDF"
        android:usesCleartextTraffic="true"
        tools:ignore="DiscouragedApi,LockedOrientationActivity,UnusedAttribute">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- 启用广告加载优化标志，以减少广告加载导致 ANR 的发生 -->
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true"/>
        <!-- Google Ad Manager-->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9270792764224532~2941886933" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1084840084499116" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="dfea023bb3af384befc7a0df895245ef" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".reminder.front.ReminderBarService"
            android:exported="true"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".reminder.alive.ReminderKeepAliveJobService"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".reminder.alive.ReminderKeepAliveService"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".reminder.alive.ReminderKeepAliveRouteService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.ysdc.aidpdf_two" />
                <action android:name="com.ysdc.aidpdf_new" />
                <action android:name="android.media.MediaRouteProviderService" />
                <action android:name="com.ysdc.aidpdf_one" />
                <action android:name="com.ysdc.aidpdf_three" />
            </intent-filter>
        </service>

        <service
            android:name=".reminder.alive.ReminderKeepAliveFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".reminder.alive.YoutubeService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.ysdc.aidpdf" />
                <action android:name="android.media.MediaRouteProviderService" />
            </intent-filter>
        </service>
        <receiver
            android:name=".reminder.alarm.ReminderAlarmReceiver"
            android:exported="false" />

        <receiver
            android:name=".reminder.alarm.ReminderRestoreReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".reminder.alive.ReminderKeepAliveReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.USER_UNLOCKED" />
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.reader.PdfPreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.reader.OfficePreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.pdf.PdfToolActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.pdf.PdfCreateResultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.document.DocumentDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PrivacyPolicyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.language.LanguageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.guide.OnboardingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.uninstall.UninstallReasonActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.uninstall.UninstallProblemActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.permission.OverlayPermissionCheckActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.permission.OverlayPermissionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.guide.LaunchRelayActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AidPDF" />

        <activity
            android:name=".ui.guide.LaunchLoadingActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AidPDF">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>
